
.navbarnavbar-expand-lg {
    background: rgb(255,0,0);
}
.jumbotron{
background-image: url("../images/chicago.jpg");
background-size: auto 100%;
font-family: Nunito;
color: red;
padding: 4rem 2em;
}
.jumbotron h1{
    background:rgb(0,0,0,.5);
}
.contFont{
    font-family: Nunito;
    font-size: 30px;
}

.btn-warning{
    background:red;
    color:rgb(179,221,242);
}

h1{
    text-align: center
}
.main-background{
    background: #FFF;
}
.set-height{
    height:250px;
    overflow-y: auto;
}
footer{
    background: rgb(179,221,242);
}
.emailUpdate{
    font-size:30px;
    font-family: Nunito;
}

.btn-info{
    background:red;
    color:rgb(179,221,242);

}

.socialText{
    font-family: Nunito;
    font-size: 30px;
}
@media(max-width:575px){
    .jumbotron{
        background-size: cover;
    }

}

.scoop{
    margin-bottom: 10px;
}

.scoop2{
    height: 1px;
    background-color: #777777;
    width: 40%;
}
    
